{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>김정환 블로그</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>고양이 너무 좋아</h1>
    {% if user.is_authenticated %}
    <button><a class="a2" href="{% url 'logout' %}" >로그아웃</a></button>
    {% else %}
    <button><a class="a1" href="{% url 'login' %}">로그인</a></button>
    <div class="aa2"><button><a class="a3" href="{% url 'signup' %}">회원가입</a></button></div>
    {% endif %}
    <br>
    <br>
    <br>
    <br>
    <a class="a4" href="{% url 'home' %}">CRUD</a>
</body>
</html>